@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Variable Warna */
  --foreground-rgb: 92, 64, 51;          
  --background-start-rgb: 253, 251, 247; 
  --background-end-rgb: 244, 241, 234;   
  
  --color-vintage-gold: #C5A059;
  --color-vintage-olive: #73785C;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;
  overflow-x: hidden;
  /* Pastikan tidak ada background-image di sini */
}

@layer utilities {
  .text-shadow-vintage {
    text-shadow: 1px 1px 2px rgba(92, 64, 51, 0.15);
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.02);
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(92, 64, 51, 0.3);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(92, 64, 51, 0.5);
  }
}